# Configuracion de Apollo y CORS
APOLLO_KEY=
APOLLO_GRAPH_REF=
APOLLO_SCHEMA_REPORTING=false
CORS_WHITELIST=["http://localhost:3000","http://localhost:4000"]

# Configuracion de logs
LOGGING_CONSOLE_COLOR=true
LOGGING_CONSOLE_JSON=true
LOGGING_FILE_MAXSIZE=1000000
LOGGING_FILE_NAME=project-name
LOGGING_FILE_PATH=logs
LOGGING_LEVEL_CONSOLE=debug
LOGGING_LEVEL_FILE=info
LOGGING_TRANSPORTS_CONSOLE=true
LOGGING_TRANSPORTS_DAILY_ROTATE=false
LOGGING_TRANSPORTS_FILE=false
# Configuracion de entorno
NODE_ENV=
# Nombre del proyecto (prefijo para claves en Redis)
PROJECT_NAME=project-name
# Cache (Redis)
CACHE_TTL=
REDIS_URL=redis://localhost:6379
REDIS_TTL=
